.app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  // cursor: url("../../assets/Main/Images/cursor.png"), auto;

  // &:hover {
  //   cursor: url("../../assets/Main/Images/cursor.png"), auto;
  // }
}
