.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}



@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.customTheme {
  color: #242430 !important;
  background-color: #E8ECE2 !important;
  border:solid 1px #242430 !important;
  opacity: 1 !important;
 }
 
 
 .marketplacecardafter1{
  height: 41rem;
  
  width: 10px;
  clip-path: polygon(0 0, 100% 2%, 100% 100%, 0 100%);
 }

  .marketplacecardafter2{
    height: 10px;
    border: 1px solid #242430;
    width: 32.7rem;
    clip-path: polygon(0 0, 97% 0, 100% 100%, 2% 100%);
  }

  .marketplacecardafter2holder{
    height: 10.5px;
    background-color: #242430;
    width: 33rem;
    clip-path: polygon(0 0, 97% 0, 100% 100%, 2% 100%);
  }
  .effectboxafter2{
    height: 15px;
    border: 1px solid #242430;
    width: 101vw;
    clip-path: polygon(0 0, 97% 0, 100% 100%, 2% 100%);
  }

  .effectboxafter2holder{
    height: 15.5px;
    background-color: #242430;
    width: 99.1vw;
    clip-path: polygon(0 0, 98.7% 0, 100% 100%, 2% 100%);
  }

  .effectboxafter1{
    height: 29.8vh;
    width: 15px;
    background-color: #242430;
    clip-path: polygon(0 0, 100% 4%, 100% 100%, 0 96%);
  }

  .marketplaceCard:hover{
    transform: scale(1.03);
    transition: all 0.2s ease;
  }

  .librarycardafter1holder{
    height: 21rem;
    width: 10px;
    background-color: #242430;
    clip-path: polygon(0 0, 100% 3%, 100% 100%, 0 96%);
  }

  .librarycardafter2holder{
    height: 10.5px;
    background-color: #242430;
    width: 16rem;
    clip-path: polygon(0 0, 94% 0, 100% 100%, 2% 100%);
  }

  .librarycardafter1{
    height: 20.5rem;
    width: 8px;
    background-color: #242430;
    clip-path: polygon(0 0, 100% 2%, 100% 100%, 0 96%);
  }

  .slider-right div{
    background-image:url('./assets/SongHomePage/slideArrorRight.svg');
    background-size: cover;
    border: none !important;
    width: 3rem;
    height: 3rem;
  }
  .slider-left div{
    background-image:url('./assets/SongHomePage/slideArrowLeft.svg');
    background-size: cover;
    border: none !important;
    width: 3rem;
    height: 3rem;
  }

  .slider-single{
    width: 70rem !important;
  }

  .react-3d-carousel{
    background: #fff;
  }

  .slider-single-content{
    opacity: 1 !important;
    box-shadow: none !important;
  }
  .my-slide-component{
    height: auto !important;
  }

  
  .statsimgcard{
    animation: shake 900ms cubic-bezier(.36,.07,.19,.97) both infinite;
  }
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

  .hal{
    .slick-slider{
      width: 90vw !important;
      height: 55vh !important;
    }
  
    .slick-list{
      min-height: 55rem !important;
      margin-left: 8rem !important;
      width: 83vw !important;
      padding-top: 3rem !important;
      padding-left: 3rem !important;
      margin-bottom: 8rem !important;
    }
  
    .slick-arrow{
      width: 50px !important;
      height: 50px !important;
    }
  
  }

 .doc{
  .slick-slider{
    width: 90vw !important;
    height: 25vh !important;
  }

  .slick-list{
    min-height: 30rem !important;
    margin-left: 8rem !important;
    width: 83vw !important;
    margin-bottom: 2rem !important;
  }

  .slick-arrow{
    width: 50px !important;
    height: 50px !important;
  }

 }


 .homepagecardafter1{
  height: 40.8rem;
  
  width: 10px;
  clip-path: polygon(0 0, 100% 2%, 100% 100%, 0 100%);
 }

 .songpagecardafter1{
  height: 38.8rem;
  
  width: 10px;
  clip-path: polygon(0 0, 100% 2%, 100% 100%, 0 100%);
 }

  .homepagecardafter2{
    height: 10px;
    border: 1px solid #242430;
    width: 31.1rem;
    clip-path: polygon(0 0, 96% 0, 100% 100%, 2% 100%);
  }

  .homepagecardafter2holder{
    height: 10.5px;
    background-color: #242430;
    width: 31.2rem;
    clip-path: polygon(0 0, 96% 0, 100% 100%, 2% 100%);
  }
  .songpagesidebarcardafter2{
    height: 10px;
    border: 1px solid #242430;
    width: 30.8rem;
    clip-path: polygon(0 0, 96.5% 0, 100% 100%, 2% 100%);
  }

  .songpagesidebarcardafter2holder{
    height: 10.5px;
    background-color: #242430;
    width: 30.9rem;
    clip-path: polygon(0 0, 96.5% 0, 100% 100%, 2% 100%);
  }
 .albumcardafter1{
  height: 56.95rem;
  
  width: 20px;
  clip-path: polygon(0 0, 100% 2%, 100% 100%, 0 100%);
 }

  .albumcardafter2{
    height: 20px;
    border: 1px solid #242430;
    width: 44.3rem;
    clip-path: polygon(0 0, 95% 0, 100% 100%, 2% 100%);
  }

  .albumcardafter2holder{
    height: 10.5px;
    background-color: #242430;
    width: 30.8rem;
    clip-path: polygon(0 0, 97% 0, 100% 100%, 2% 100%);
  }

  .rc-tooltip{
    opacity: 1 !important;
  }
  .rc-tooltip-inner{
    padding: 0 !important;
    background:none !important;
  }